# Booking
API_USERNAME=CFRxxxxxxxx
API_PASSWORD=your-password-here
CENTER_ID=653679
TRACKED_PEOPLE={"CFRxxxxxxxx":"Name1","CFRyyyyyyyy":"Name2"}

# Pushover
PUSHOVER_TOKEN=your-pushover-app-token
PUSHOVER_USER=your-pushover-user-key